<div id="header" class="header">
    <div class="header-button">
        <a class="header-button-link">
            <span style="width:40%"></span>
            <span style="float:right;width:60%;">Boards</span>
        </a>
    </div>
    <div class="header-search">
        <input class="header-search-input" type="text" autocomplete="off" autocorrect="off" spellcheck="false" value="">
    </div>
    <a class="header-logo">
        <span class="header-logo-troll"></span>
    </a>
</div>
<div class="body">
    <div class="page-board-section">
        <div class="">
            <h3>Personal Boards</h3>
        </div>
        <div>
            <div class="border-section-welcome" ng-click="onSubmit()"><span>Welcome Board</span></div>
            <div class="border-section-create"><span>Create New Board</span></div>
        </div>
        <!--<ul>-->
            <!--<li class="boarder-section-list">-->
                <!--<a class="border-section-welcome" ng-click="onSubmit()">-->
                    <!--<span class="border-section-welcome-span">Welcome Board</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="boarder-section-list">Create New Board</li>-->
        <!--</ul>-->
    </div>
</div>
